.favorites {
  position: relative;
  border-left: 4px solid #d4af37;
  background-color: #f8f6f6;
  padding: 20px 25px;
  margin: 100px auto;
  width: 60%;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
  color: #d4af37;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Favorites.module.css */
.favoritesContainer {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.info {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: #666;
}